@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #24252a;
  font-family: "Roboto", sans-serif;
  color: #edf0f1;
  --bright-highlight: #ffc600;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
  border-bottom: solid 1px grey;
}

.logo {
  font-size: 2em;
  margin-right: auto;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: var(--bright-highlight);
}

.container {
  width: 80%;
  margin: auto;
}

.welcome-box {
  margin: 10px 10% 5% 10%;
  padding: 0 5px;
  justify-content: center;
  background-color: lightgrey;
  border: solid 1px black;
  border-radius: 10px;
  color: black;
}

.perf-boxes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.perf-box {
  display: flex;
  margin-bottom: 10px;
}

.perf-box-body {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
}

.thumbnail-container {
  display: flex;
}

.thumbnail-container img {
  width: 480px;
  height: 260px;
  object-fit: cover;
  border-radius: 15px;
}

.thumbnail-container img:hover {
  box-shadow: 0 0 0.5rem;
}

.create-performance,
.create-song,
.create-artist input[type="submit"] {
  margin-top: 5px;
  width: 10%;
}

.create-performance,
.create-song,
.create-artist input {
  width: 30%;
}

.list-item {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  background-color: darkgrey;
}

.list-item:hover {
  box-shadow: 0 0 0.5rem;
}

.performance-list {
  margin-top: 10px;
  position: relative;
}

.performance-list-song {
  flex-basis: 50%;
}

.create-object {
  border-radius: 10px;
  color: var(--bright-highlight);
}

.perf-list-container {
  display: flex;
}

.perf-list-container h1 {
  margin-right: 5px;
  align-items: center;
  justify-content: center;
}

.perf-list {
  display: flex;
  flex-direction: column;
}

.perf-list-left {
  flex-basis: 100%;
  display: flex;
  margin-right: 2rem;
  border-right: 1px solid var(--bright-highlight);
}

.perf-list-right {
  flex-basis: 100%;
}

.perf-list-item {
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.perf-list-item:hover {
  box-shadow: 0 0 0.2rem;
}

.perf-list-thumbnail {
  /* width: 480px;
  height: 260px; */
  width: 300px;
  height: 154px;
  object-fit: cover;
  border-radius: 15px;
}

.top-perf-table-body {
  margin-left: 5px;
  flex-basis: 60%;
  align-content: justify;
  justify-content: center;
}

.list-item-link:hover {
  text-decoration: underline;
  color: var(--bright-highlight);
}

.top-perf-table-votes {
  display: flex;
  color: gray;
  align-self: center;
  flex-direction: column;
  margin-right: 10px;
}

.top-perf-table-votes img {
  padding-right: 10px;
  padding-left: 10px;
  height: 40px;
  width: 60px;
  filter: grayscale();
}

.top-perf-table-votes img:hover {
  filter: none;
}

.top-perf-table-votes .voted {
  filter: none;
}

.search-box {
  height: 150px;
  width: 30%;
}

.search-results {
  width: 300px;
}

.search-result {
  color: #ffc600;
  text-decoration: underline;
}

a {
  transition: all 0.1s ease 0s;
}

a:hover {
  color: var(--bright-highlight);
}

.breadcrumb {
  display: flex;
  margin-top: 10px;
  font-size: 40px;
}

.breadcrumb-path {
  flex-basis: 70%;
}

.breadcrumb button {
  align-content: right;
  flex-basis: 10%;
  background-color: rgba(0, 140, 255, 0.83);
  border: 2px solid;
  border-radius: 7px;
}

.search-input {
  width: 30%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 7px;
}
