@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #24252a;
  font-family: "Roboto", sans-serif;
  color: #edf0f1;
  --bright-highlight: #ffc600;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
  border-bottom: solid 1px grey;
}

.logo {
  font-size: 2em;
  margin-right: auto;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: var(--bright-highlight);
}

.container {
  width: 80%;
  margin: auto;
}

.welcome-box {
  margin: 10px 10% 0 10%;
  padding: 0 5px;
  justify-content: center;
  background-color: lightgrey;
  border: solid 1px black;
  border-radius: 10px;
  color: black;
}

.perf-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.perf-box {
  flex-basis: 25%;
  border: 4px solid whitesmoke;
  border-radius: 10px;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  transition: all 0.1s ease;
  background-color: lightgrey;
  color: black;
}

.perf-box:hover {
  transform: scale(1.05);
  border-color: var(--bright-highlight);
  box-shadow: 0 0 1rem;
}

.create-performance,
.create-song,
.create-artist {
  display: flex;
  flex-direction: column;
}

.create-performance,
.create-song,
.create-artist input[type="submit"] {
  margin-top: 5px;
  width: 10%;
}

.create-performance,
.create-song,
.create-artist input {
  width: 30%;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  background-color: darkgrey;
}

.list-item:hover {
  transform: scale(1.02);
  border-color: var(--bright-highlight);
  box-shadow: 0 0 0.2rem;
}

.performance-list {
  margin-top: 10px;
  position: relative;
}

.performance-list-song {
  flex-basis: 50%;
}

.create-object {
  border-radius: 10px;
  color: var(--bright-highlight);
}
