@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #24252a;
  font-family: "Roboto", sans-serif;
  color: #edf0f1;
  --bright-highlight: #ffc600;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
  border-bottom: solid 1px grey;
}

.logo {
  font-size: 2em;
  margin-right: auto;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: var(--bright-highlight);
}

.container {
  width: 80%;
  margin: auto;
}

.welcome-box {
  margin: 10px 10% 0 10%;
  padding: 0 5px;
  justify-content: center;
  background-color: lightgrey;
  border: solid 1px black;
  border-radius: 10px;
  color: black;
}

.perf-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.perf-box {
  height: 19rem;
  min-width: 21rem;
  flex-basis: 25%;
  border: 4px solid black;
  border-radius: 10px;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  transition: all 0.1s ease;
  background-color: lightgrey;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.perf-box:hover {
  box-shadow: 0 0 0.5rem;
}

.perf-box-body {
  overflow: hidden;
  border-radius: 2%;
}

.perf-box img {
  width: 100%;
  margin: -10% 0;
}

.perf-box-header {
  color: black;
}

.perf-box-body {
  color: black;
}

.create-performance,
.create-song,
.create-artist {
  display: flex;
  flex-direction: column;
}

.create-performance,
.create-song,
.create-artist input[type="submit"] {
  margin-top: 5px;
  width: 10%;
}

.create-performance,
.create-song,
.create-artist input {
  width: 30%;
}

.list-item {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  background-color: darkgrey;
}

.list-item:hover {
  box-shadow: 0 0 0.5rem;
}

.performance-list {
  margin-top: 10px;
  position: relative;
}

.performance-list-song {
  flex-basis: 50%;
}

.create-object {
  border-radius: 10px;
  color: var(--bright-highlight);
}

.perf-list {
  display: flex;
  flex-direction: column;
}

.perf-list-item {
  margin-top: 5px;
  width: 80%;
  height: 10rem;
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.perf-list-item:hover {
  box-shadow: 0 0 0.2rem;
}

.perf-list-thumbnail {
  width: 20%;
  margin: -3% 0;
  border-radius: 10px;
}

.top-perf-table-body {
  margin-left: 5px;
  flex-basis: 60%;
  align-content: justify;
  justify-content: center;
}

.list-item-link:hover {
  text-decoration: underline;
  color: var(--bright-highlight);
}

.top-perf-table-votes {
  display: flex;
  color: gray;
  align-self: center;
  flex-direction: column;
}

.top-perf-table-votes img {
  padding-right: 10px;
  padding-left: 10px;
  height: 40px;
  width: 40px;
  filter: grayscale();
}

.top-perf-table-votes img:hover {
  filter: none;
}
