.create-song__wrapper label {
  margin-left: 1rem;
  color: black;
}

.create-song__form {
  width: 100%;
}

.create-song__wrapper .spotify-search {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.create-song__wrapper .spotify-search-input {
  display: flex;
}

.create-song__wrapper .spotify-search input[type="text"] {
  margin-left: 20px;
  flex-basis: 50%;
}

button {
  background-color: rgba(0, 140, 255, 0.83);
  width: 10rem;
  height: 2rem;
  border: 2px solid;
  border-radius: 7px;
  position: relative;
  top: 0.8rem;
  left: 1rem;
}

.create-song__wrapper select {
  flex-basis: 60%;
  width: 90%;
  padding: 10px;
  margin: 10px 20px;
  border-radius: 7px;
}

.create-song__wrapper input[type="submit"] {
  margin-left: 1rem;
}

.idMatch p {
  font-weight: bold;
  text-align: center;
}

.match {
  color: green;
}

.mismatch {
  color: red;
}
