.modal__wrapper {
  width: 500px;
  background: white;
  border: 1px solid #ccc;
  transition: 0.5s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 200px;
  left: 500px;
}

.modal__wrapper.off {
  opacity: 0;
  visibility: hidden;
  filter: blur(8px);
  transform: scale(0.33);
  box-shadow: 1rem 0 0 rgba(black, 0.2);
}
